<div class="mt-3">
    <h2>Queries</h2>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <a class="text-dark" asp-action="GetSortedUsers" asp-controller="Queries">GetSortedUsers</a>
    </li>
</ul>